* {
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.content {
  margin: 16px 8px;
}

.title {
  font-size: 22px;
  margin: 0 0 22px 0;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 0 0 8px 0;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.section {
  margin: 0 0 24px 0;
}

.section:first-child {
  margin-top: 0;
}

.paragraph {
  margin: 4px 0;
}

.chart {
  width: 100%;
}

.chart__toggles {
  display: flex;
  justify-content: center;
  margin: 8px 16px 0 16px;
  flex-wrap: wrap;
}

.toggle {
  cursor: pointer;
  margin: 0 16px 8px 0;
  display: flex;
}

.toggle:last-child {
  margin-right: 0;

}

.toggle__left {
  border-radius: 4px 0 0 4px;
}

.toggle__middle {
  margin: 0 2px;
}

.toggle__right {
  border-radius: 0 4px 4px 0;
}

.toggle__left, .toggle__middle, .toggle__right {
  background-color: #eee;
  padding: 8px;
  color: #999;
  display: flex;
  align-items: center;
}

.toggle__left--selected, .toggle__middle--selected, .toggle__right--selected {
  background-color: #a9d1ff;
  color: #000;
}

.button {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  background-color: #eee
}

.button:hover {
  background-color: #ddd;
}

.selection-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 16px 16px 16px;
}

.selection-bar .button {
  margin-right: 8px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 8px;
}

.selection-bar .button:last-child {
  margin-right: 0;
}

.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 4px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slider-wrapper {
  height: 40px;
  margin: 0 16px;
  position: relative;
}

.rc-slider {
  position: initial;
}

.date-selector {

}

.date-selector__titles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.date-selector__titles__title {
  margin-right: 16px;
}

.date-selector .button {
  margin-right: 16px;
}

.date-selector .button:last-child {
  margin-right: 0;
}
