* {
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 22px;
  margin: 0 0 22px 0;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 0 0 8px 0;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.section {
  margin: 0 0 24px 0;
}

.section:first-child {
  margin-top: 0;
}

.paragraph {
  margin: 4px 0;
}

.scale-toggle {
  cursor: pointer;
}

.log-chart-wrapper {
  width: 100%;
}
